<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>

</head>

<body>

<header th:fragment="nav">
    <nav class="navbar fixed-top  navbar-expand-lg navbar-dark bg-dark">
                <a class="navbar-brand" th:href="@{/}"><img src="/images/ramen.png" alt="Ramen noodles icon"></a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <ul class="navbar-nav mr-auto col-12 justify-content-end">
                <li><a class="nav-link" th:href="@{/about}">About</a></li>
                <th:block sec:authorize="isAuthenticated()">
                    <li><a class="nav-link" th:href="@{/recipes}">Recipes</a></li>
                    <li><a class="nav-link" th:href="@{/users/profile}">Profile</a></li>

                    <li>
                        <form th:action="@{/users/logout}" th:method="POST">
                            <input class="nav-link" type="submit" th:value="Logout">
                        </form>
                    </li>
                </th:block>

                <th:block sec:authorize="!isAuthenticated()">
                    <li><a class="nav-link" th:href="@{/users/login}">Login</a></li>
                    <li><a class="nav-link" th:href="@{/users/register}">Register</a>
                    </li>
                </th:block>
                <li>
                    <a sec:authorize="hasRole('ADMIN')" class="nav-link btn btn-warning text-dark" href="/admin/panel">Admin</a>
                </li>
            </ul>
        </div>
    </nav>
</header>

<div th:fragment="categories" id="category-search" class="position-relative overflow-hidden p-3 p-md-5 m-md-3">
    <div class=" mr-md-3 pt-3 px-3 pt-md-5 pt-md-5 text-center overflow-hidden">
        <div class="my-3 py-3">
            <h2 class="display-5">Categories</h2>
            <p class="lead">Browse recipes by category</p>
        </div>

        <div class="container">
            <div class="row justify-content-center flex-row">
                <a th:href="@{/recipes/{category}(category='breakfast')}" class="col-md-2 btn btn-outline-secondary m-1 p-3">
                    Breakfast
                </a>
                <a th:href="@{/recipes/{category}(category='lunch')}" class="col-md-2 btn btn-outline-secondary m-1 p-3">
                    Lunch
                </a>
                <a th:href="@{/recipes/{category}(category='dinner')}" class="col-md-2 btn btn-outline-secondary m-1 p-3">
                    Dinner
                </a>
                <a th:href="@{/recipes/{category}(category='dessert')}" class="col-md-2 btn btn-outline-secondary m-1 p-3">
                    Desserts
                </a>
            </div>
        </div>

    </div>
</div>


    <div class="navbar-static-bottom bg-dark text-white text-center m-0 p-0" th:fragment="footer">
        <p class="p-3 m-0">© 2021 Copyright:
            <a class="text-light" href="/">Foodie</a>
        </p>
    </div>

</body>
</html>