<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manage users</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">

</head>

<body>

    <main class="index-main">
        <header th:replace="/fragments/commons :: nav">
        </header>
        <div class="position-relative p-7 p-md-3 m-md-3 mt-0 text-center">
            <div id="main" class="col-md-5 p-lg-5 mx-auto my-5">
                <h1 class="display-4 font-weight-normal">Admin panel</h1>
                <p>Delete users or manage their roles
                </p>

            </div>

            <div class="col-xl-12">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">First Name</th>
                            <th scope="col">Last Name</th>
                            <th scope="col">Email Address</th>
                            <th scope="col">Make Admin</th>
                            <th scope="col">Delete User</th>
                        </tr>
                    </thead>
                    <tbody th:each="u : ${users}" th:object="${u}">
                        <tr>
                            <td th:text="*{firstName}">User</td>
                            <td th:text="*{lastName}">Userov</td>
                            <td th:text="*{email}">user@user</td>

                            <td th:unless="*{isAdmin()}">
                                <form th:action="@{/admin/users/{id}(id = *{id})}" th:method="PATCH" class="m-1">
                                    <input type="submit" class="btn btn-warning" value="Make Admin" />
                                </form>
                            </td>

                            <td th:unless="*{isAdmin()}">
                                <form th:action="@{/admin/users/{id}(id = *{id})}" th:method="DELETE" class="m-1">
                                    <input type="submit" class="btn btn-danger" value="Delete" />
                                </form>
                            </td>


                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </main>

        <div th:replace="/fragments/commons :: footer">
        </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>

</body>

</html>